copy
copy.cpp
main
a.out
lab1/main.dSYM/Contents/Info.plist
*/.vscode/
.vscode
.idea/
cmake-build-debug/CMakeFiles/clion-log.txt
lab3/tempCodeRunnerFile.cpp
*/build/
*/.ccls-cache/
.ccls-cache/
*/*/CMakeFiles/
*/CMakeFiles
test1/kr1_gr4b_v3_laryn_jahor.zip
lab7/cmake_install.cmake
*/Makefile
*/*/Makefile
lab7/main.dSYM/Contents/Info.plist
lab7/CMakeCache.txt
lab7/test/cmake_install.cmake
lab7/test/CTestTestfile.cmake
lab7/src/CTestTestfile.cmake
lab7/src/cmake_install.cmake
lab7/CTestTestfile.cmake
