copy
copy.cpp
main
a.out
.vscode/settings.json
.vscode/launch.json
lab1/main.dSYM/Contents/Info.plist
.vscode/tasks.json
.idea/cpp-labs.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/CMakeFiles/clion-log.txt
lab3/tempCodeRunnerFile.cpp
*/build/*
*/*/CMakeFiles/*
.ccls-cache/*
*/CMakeFiles/*
.idea/*
*/.vscode/*
*/cmake_install.cmake
*/CMakeCache.txt
*/CTestTestfile.cmake
*/src/cmake_install.cmake
*/test/CTestTestfile.cmake
*/test/cmake_install.cmake
*/Makefile
*/main.dSYM/Contents/Info.plist
*/src/CTestTestfile.cmake
*/src/Makefile
test1/kr1_gr4b_v3_laryn_jahor.zip
lab7/test/Makefile