copy
copy.cpp
main
a.out
.vscode/settings.json
.vscode/launch.json
lab1/main.dSYM/Contents/Info.plist
.vscode/tasks.json
.idea/cpp-labs.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/CMakeFiles/clion-log.txt
